.popover {
  display: flex;
  position: absolute;
  left: 0;
  z-index: 1000;
  box-shadow: 0 1px 8px black;

  &::before {
    content: '';
    width: 20px;
    height: 10px;
    background-color: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border: none;
    z-index: 1000;
    position: absolute;
    top: -10px;
    left: 4px;
  }
}

.trigger {
  display: flex;
  flex-direction: column;
  position: relative;
}
