.games {
  height: 100%;
  width: 100%;
  padding: 40px 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-sizing: border-box;
  shape-outside: margin-box;
  align-items: center;

  &__preloader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: 10px;
    column-gap: 15px;
    grid-gap: 0 25px;
    list-style-type: none;

    &-element {
      grid-row-end: span 27;
      border-radius: 10px;
    }
  }
}
