.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0.5em;
  text-transform: none;
  text-shadow: none;
  font-weight: 500;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
  //   box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: auto;
    opacity: 0.8;
  }

  // Colors
  &.inherit {
    background-color: inherit;
  }

  &.primary {
    background-color: var(--primary);
    color: white;
  }

  &.secondary {
    background-color: var(--secondary);
    color: white;
  }

  &.tertiary {
    background-color: var(--tertiary);
    color: white;
  }

  &.black {
    background-color: black;
    color: white;
  }

  &.white {
    background-color: white;
    color: black;
  }

  // Sizes
  &.mini {
    font-size: 0.5em;
  }

  &.tiny {
    font-size: 0.75em;
  }

  &.small {
    font-size: 0.9rem;
  }

  &.medium {
    font-size: 1.1rem;
  }

  &.large {
    font-size: 1.3rem;
  }
}
