@import '../../../vendors/variables.scss';

@keyframes shine {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: -100%;
  }
}

%background {
  animation: 1.5s shine linear infinite;
  background-color: var(--quart);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(93, 93, 93, 0.522) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--quart);
  background-size: 200% 100%;
  background-position-x: 180%;
}

.placeholder {
  &-rect {
    @extend %background;
  }

  &-circle {
    border-radius: 50%;
    @extend %background;
  }

  &-card {
    &__description {
      height: 83px;
      background-color: var(--tertiary);
      border-radius: 0 0 10px 10px;
      padding: 15px 15px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }

    &__about {
      display: grid;
      grid-template-columns: 70% 30%;
      align-items: center;
    }

    &__platforms {
      display: grid;
      grid-template-columns: 25px 25px 25px;
      gap: 5px;
    }
  }
}
