@import '../../vendors/variables.scss';

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e303d;
}

@media (max-width: $breakpoint-mobile) {
  .header {
    padding: 0 10px;
  }
}
