@import '../../vendors/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  padding: 15px 20px 5px;
}

@media (max-width: $breakpoint-tablet) {
  .header {
    padding: 15px 20px 5px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    padding: 10px 10px 5px;
  }
}
