@import '../../vendors/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  padding: 10px 20px;
}

@media (max-width: $breakpoint-laptop) {
  .header {
    padding: 20px 20px 15px;
  }
}

@media (max-width: $breakpoint-tablet) {
  .header {
    padding: 15px 20px 10px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .header {
    padding: 10px;
  }
}
