@import '../../vendors/variables.scss';

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translate(-25%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.sidebar {
  width: 50px;
  height: calc(100vh);
  background-color: black;
  padding: 0;
  display: grid;
  grid-template-rows: 50px 0.7fr 1fr;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s ease;
  overflow: hidden;
  box-shadow: 1px 0 3px #000;
  z-index: 10;
  overflow: hidden;

  &__title {
    display: block;
  }

  &__button {
    width: 50px;
    height: 100%;
    border: none;
    background-color: black;
    background-image: url(../../images/burger-icon.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    align-self: flex-start;
    cursor: pointer;
    padding: 0;
  }

  &__header {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 50px 1fr;
    box-sizing: border-box;
    color: white;
  }

  &__title {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    align-self: center;
    font-weight: 600;
    padding-right: 50px;
  }

  &_closed {
    width: 50px;

    & .navbar__link {
      &-text {
        display: none;
      }
    }

    & .sidebar {
      &__logo-wrapper {
        width: 50px;
      }
      &__title {
        display: none;
      }
    }
  }

  &_opened {
    width: 15%;
  }

  &__logo-wrapper {
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
  }
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 0;
  box-sizing: border-box;

  &__link {
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 8px;
    color: white;
    font-style: normal;
    font-weight: 500;
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    box-sizing: border-box;

    &-text {
      display: block;
      white-space: nowrap;
      animation: slide-in 0.5s ease;
    }
  }

  &__button {
    width: 50px;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
  }

  &__icon {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    z-index: 10;

    &_movies {
      background-image: url(../../images/movies-icon.svg);
    }
    &_tv-shows {
      background-image: url(../../images/tv-shows-icon.svg);
    }
    &_digital-releases {
      background-image: url(../../images/digital-releases-icon.svg);
    }
    &_acters {
      background-image: url(../../images/acters-icon.svg);
    }
  }
}

.active {
  background-color: $indigo;
  color: black;
  box-shadow: inset 0 0 2px 1px black;
}
