@keyframes loading {
  0% {
    top: -100%;
  }
  100% {
    bottom: 0;
  }
}

.game-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
  transition: transform 0.15s ease-in, box-shadow 0.15s ease-in,
    height 0.15s ease-in;
  cursor: pointer;
  background-color: #3c3d4d;
  text-decoration: none;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px 1px black;
    border: 1px solid black;
  }

  &:hover &__details {
    display: flex;
  }

  &__poster {
    height: 230px;
    border-radius: 10px 10px 0 0;
    background-color: var(--quart);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &-image {
      width: 100%;
      height: 230px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
      z-index: 100;
    }
  }

  &__description {
    padding: 15px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 0 0 10px 10px;
    transition: 0.15s ease;
  }

  &__preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__details {
    flex-basis: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }

  &__name {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }

  &__platforms {
    max-width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 5px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    opacity: 0.7;
    list-style: none;

    &-item {
      display: flex;
      align-items: center;
      gap: 5px;

      &:not(:last-child):after {
        display: inline-block;
        background-color: #6b69f9;
        content: '';
        width: 5px;
        height: 5px;
        display: block;
      }
    }
  }

  &__release {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.7;
  }

  &__age-rating {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
  }

  &__metacritic {
    display: flex;
    align-items: center;
    opacity: 0.7;
    font-size: 14px;
    line-height: 16px;
    gap: 5px;
  }
}

.hide {
  display: none;
}

@media (max-width: 1440px) {
  .game-card {
    &__poster {
      height: 200px;
    }
  }
}

@media (max-width: 1270px) {
  .game-card {
    &__poster {
      height: 170px;
    }
  }
}
