@keyframes loading {
  0%{
    top: -100%;
  }
  100%{
    bottom: 0;
  }
}

.game-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
  transition: transform 0.15s ease-in, box-shadow 0.15s ease-in;
  cursor: pointer;
  background-color: #3c3d4d;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 1px black;
  }

  &__poster {
    height: 230px;
    border-radius: 10px 10px 0 0;
    position: relative;
    background-color: black;
    background-image: url(../../images/placeholder-image.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &-image {
      width: 100%;
      height: 230px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10px 10px 0 0;
      z-index: 100;
    }
  }

  &__description {
    padding: 15px 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 0 0 10px 10px;
  }

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    margin: 0;
    font-size: 16px;
    font-weight: 18px;
  }

  &__platforms {
    max-width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
}

.platform {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &_more {
    background-image: url(../../images/icon-more.svg);
  }

  &_pc {
    background-image: url(../../images/icon-windows.svg);
  }

  &_playstation {
    background-image: url(../../images/icon-playstation.svg);
  }

  &_xbox {
    background-image: url(../../images/icon-xbox.svg);
  }

  &_ios {
    background-image: url(../../images/icon-ios.svg);
  }

  &_android {
    background-image: url(../../images/icon-android.svg);
  }

  &_linux {
    background-image: url(../../images/icon-linux.svg);
  }

  &_mac {
    background-image: url(../../images/icon-mac.svg);
  }

  &_nintendo {
    background-image: url(../../images/icon-nintendo.svg);
  }
}