@keyframes loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}

.game-card {
  display: flex;
  flex-direction: column;
  // row-gap: 15px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
  transition: transform 0.15s ease-in;
  cursor: pointer;
  grid-row-end: span 27;

  &:hover {
    transform: scale(1.02);
  }

  &__image {
    height: 180px;
    border-radius: 10px 10px 0 0;
    position: relative;
    background-image: url(../../images/placeholder-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__poster {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  &__description {
    padding: 15px 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #3c3d4d;
    border-radius: 0 0 10px 10px;
  }

  &__name {
    margin: 0;
    font-size: 16px;
    font-weight: 18px;
  }

  &__platforms {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

.platform {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &_pc {
    background-image: url(../../images/icon-windows.svg);
  }

  &_playstation {
    background-image: url(../../images/icon-playstation.svg);
  }

  &_xbox {
    background-image: url(../../images/icon-xbox.svg);
  }
}